<div class="course-card-background">
    <img data-sizes="auto" class="course-card-image" ng-src="{{ course.image.renditions['960x720'].link }}" />
</div>
<a class="course-card-anchor" ng-href="{{ contextPath }}/packrunweb/course?course={{ course['@path'] }}">
    <div class="course-card-content-shader"></div>
    <div class="course-card-content">
        <h4 class="finder-card-title">{{ course.name }}</h4>
        <div class="finder-card-meta">{{ course.duration }} days, {{ course.destination[0].displayName }}</div>
        <div class="category-icons finder-coursetype-container">
            <div class="category-icon finder-coursetype absolute-center-container" ng-repeat="courseType in course.courseTypes">
                <img class="finder-coursetype-icon" ng-src="{{ contextPath }}/dam/{{ courseType.icon }}" />
                <div class="finder-coursetype-name">{{ courseType.displayName }}</div>
            </div>
        </div>
        <div class="card-button">
            <div class="btn btn-primary">{{ i18n['course.view'] }}</div>
        </div>
    </div>
</a>
