<div class="finder-filter">
    <div class="finder-filter-header">
        <span>{{ i18n['courseFinder.filter.duration'] }}</span>
    </div>
    <div class="form-group">
        <div class="checkbox" ng-repeat="duration in durations" ng-cloak>
            <label>
                <input type="checkbox" value="{{ duration.value }}" ng-model="useDurations[duration.value]" />{{ i18n[duration.name] }}
            </label>
        </div>
    </div>
</div>
<div class="finder-filter">
    <div class="finder-filter-header">
        <span>{{ i18n['courseFinder.filter.destination'] }}</span>
    </div>
    <div class="form-group">
        <div class="checkbox" ng-repeat="destination in destinations" ng-cloak>
            <label>
                <input type="checkbox" value="{{ destination['@id'] }}" ng-model="useDestinations[destination['@id']]" />{{ destination.displayName }}
            </label>
        </div>
    </div>
</div>
<div class="finder-filter">
    <div class="finder-filter-header">
        <span>{{ i18n['courseFinder.filter.type'] }}</span>
    </div>
    <div class="form-group">
        <div class="checkbox" ng-repeat="courseType in courseTypes" ng-cloak>
            <label>
                <input type="checkbox" value="{{ courseType['@id'] }}" ng-model="useTourTypes[courseType['@id']]" />{{ courseType.displayName }}
            </label>
        </div>
    </div>
</div>
